.container{
  padding: 0 15px;
}
.main-header{
  .top{
    padding: 26px 0 21px;
    .left-block{
      .lang-changer{
        margin-right: 30px;
      }
      .search-block{
        padding: 0;
      }
    }
    .center-block{
      .social-link{
        margin-right: 10px;
      }
    }
    .right-block{
      .registration-block{
        margin-right: 33px;
      }
      .sighin-block{
        padding: 0;
      }
    }
  }
  .middle{
    .header-logo{
      padding: 0;
    }
    .header-title{
      padding: 0;
    }
  }
  .bottom{
    padding: 28px 23px;
    .menu{

    }
  }
}