/**functions**/
/**fonts**/
@font-face {
  font-family: MSReferenceSansSerif;
  src: url('fonts/MSReferenceSansSerif.ttf');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: MSReferenceSansSerif;
  font-size: 22px;
}
a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1170px;
}
.block {
  padding: 48px 0 54px;
}
.block:nth-child(odd) {
  background: #f7f7f7;
}
.block-header {
  margin-bottom: 46px;
  font-size: 36px;
  text-align: center;
}
.block-header > * {
  margin: 0;
}
/**header**/
.main-header .top {
  padding: 26px 0 21px;
  display: flex;
  justify-content: space-between;
}
.main-header .top .left-block,
.main-header .top .center-block,
.main-header .top .right-block {
  display: flex;
}
.main-header .top .left-block .lang-changer {
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
}
.main-header .top .left-block .search-block {
  padding: 0;
}
.main-header .top .left-block .search-block .header-search-field {
  background: #a5bfde;
  border: 1px solid #5f8fca;
  height: 28px;
  width: 165px;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px;
}
.main-header .top .left-block .search-block .header-search-field::-webkit-input-placeholder {
  color: #fff;
}
.main-header .top .left-block .search-block .header-search-field:-moz-placeholder {
  color: #fff;
}
.main-header .top .left-block .search-block .header-search-field::-moz-placeholder {
  color: #fff;
}
.main-header .top .left-block .search-block .header-search-field:-ms-input-placeholder {
  color: #fff;
}
.main-header .top .center-block {
  margin-right: 43px;
}
.main-header .top .center-block .social-link {
  margin-right: 10px;
  background: #51709a no-repeat;
  width: 27px;
  height: 27px;
}
.main-header .top .center-block .social-link:last-child {
  margin-right: 0;
}
.main-header .top .center-block .social-link.fb {
  background-image: url('images/sprite.png');
  background-position: 0 0;
}
.main-header .top .center-block .social-link.vk {
  background-image: url('images/sprite.png');
  background-position: -33px 0;
}
.main-header .top .center-block .social-link.tw {
  background-image: url('images/sprite.png');
  background-position: -65px 0;
}
.main-header .top .center-block .social-link.in {
  background-image: url('images/sprite.png');
  background-position: -97px 0;
}
.main-header .top .right-block {
  font-weight: bold;
}
.main-header .top .right-block .registration-block {
  margin-right: 33px;
}
.main-header .top .right-block .sighin-block {
  padding: 0;
}
.main-header .middle {
  height: 323px;
  background: url("images/header_bg.png") no-repeat 50% 50%;
  background-size: cover;
  padding: 68px 0 62px;
  color: #ffffff;
  display: flex;
  font-size: 48px;
}
.main-header .middle .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-header .middle .container > * {
  text-align: center;
}
.main-header .middle .header-logo {
  padding: 0;
  margin-bottom: 32px;
}
.main-header .middle .header-title {
  padding: 0;
}
.main-header .bottom {
  padding: 28px 23px;
}
.main-header .bottom .menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: bold;
}
.main-header .bottom .menu ul li {
  margin: 0 21px;
  list-style: none;
}
.main-header .bottom .menu ul li a {
  padding: 9px;
  border-bottom: 5px solid transparent;
}
.main-header .bottom .menu ul li a:hover {
  border-bottom: 5px solid #ffbf4a;
}
/**header end**/
/**description block**/
.description-block p {
  text-align: center;
  margin: 0;
}
.description-block p::before,
.description-block p::after {
  content: '';
  height: 5px;
  width: 360px;
  background: #ffbf4a;
  display: block;
}
.description-block p::before {
  margin: 0 auto 17px;
}
.description-block p::after {
  margin: 18px auto 0;
}
/**description block end**/
/**news block**/
.news-block {
  content: '';
}
.news-block .news-item-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.news-block .news-item-container .news-item {
  width: 229px;
}
.news-block .news-item-container .news-item .news-item-img {
  max-height: 228px;
  overflow: hidden;
  margin-bottom: 29px;
  background: blue;
  height: 228px;
}
.news-block .news-item-container .news-item .news-item-img > img {
  width: 100%;
}
.news-block .news-item-container .news-item .news-item-header {
  padding: 0 10px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
/**news block end**/
/**partners block**/
.partners-block .partners-container {
  display: flex;
}
.partners-block .partners-container .arrows {
  width: 67px;
  padding-top: 30px;
}
.partners-block .partners-container .arrows .arrow {
  background: url('images/sprite.png') no-repeat;
  width: 46px;
  height: 85px;
}
.partners-block .partners-container .arrows.left .arrow {
  background-position: 0 -33px;
}
.partners-block .partners-container .arrows.left:hover .arrow {
  background-position: -54px -33px;
}
.partners-block .partners-container .arrows.right .arrow {
  background-position: -115px -33px;
}
.partners-block .partners-container .arrows.right:hover .arrow {
  background-position: -169px -33px;
}
.partners-block .partners-container .partners-item-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 30px;
}
.partners-block .partners-container .partners-item-container .partners-item {
  width: 165px;
}
.partners-block .partners-container .partners-item-container .partners-item .partners-item-img {
  height: 165px;
  max-height: 165px;
  margin-bottom: 30px;
  background: blue;
}
.partners-block .partners-container .partners-item-container .partners-item .partners-item-header {
  font-weight: 600;
  text-align: center;
}
/**partners block end**/
/**footer**/
.main-footer {
  background: #0c3d78;
  color: #ffffff;
  padding: 22px 0 45px;
}
.main-footer a {
  color: #ffffff;
}
.main-footer a:hover {
  text-decoration: underline;
}
.main-footer .footer-menu {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 40px;
}
.main-footer .footer-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.main-footer .footer-menu ul li {
  list-style: none;
}
.main-footer .footer-info {
  padding-top: 44px;
  display: flex;
}
.main-footer .footer-info .footer-logo-block {
  margin-right: 45px;
}
.main-footer .footer-info .footer-info-block {
  font-size: 18px;
  max-width: 706px;
}
.main-footer .footer-info .footer-info-block .footer-title {
  padding-bottom: 26px;
}
